<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: headResources('Home')}"></head>

<body>
    <nav th:replace="~{/fragments/navBar :: topNavbar('home')}"></nav>
    <div class="container d-flex justify-content-center">
    
    <div class="card" style="width: 18rem;">
        <img th:src="@{/pexels-velroy-fernandes-4068339.jpg}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title text-danger">Best of the Year by</h5>
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
            <h5 th:text="${nome}"></h5>
        </div>
    </div>
    
    </div>

    
    
    

    <th:block th:replace="~{/fragments/resources :: jsResources}"></th:block>
</body>
<!--    <h2 class="redColor">My best Movie</h2>-->
<!--    <h3 th:text="${movies}"></h3>-->
</html>