<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies</title>
</head>
<body>
<h2>Movies</h2>
<!--    <h3 th:text="${movies}"></h3>-->
    <div>
        <h2 class="redColor">My best Movies</h2>
        <ul>
            <li th:each="movie : ${movies}">
                <img th:src="${movie.urlImage}" alt="" >
                <h3 th:text="|Name: ${movie.name}|"></h3>
                <p th:text="|Description: ${movie.description}|"></p>
                <p th:text="|Duration: ${movie.duration} minutes|"></p>
            </li>
        </ul>
    </div>
</body>
</html>