<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: headResources('song-list')"></head>

<body>
<nav th:replace="/fragments/navbar :: topNavbar('song-list')"></nav>
<h2>My best Songs List</h2>
<!--<h3 th:text="|My best Songs: ${songs}"></h3>-->
<div class="container">
    <h2 class="color-warning">My best Movies List</h2>
    <ul>
        <!-- per oggetti -->
        <li th:each="song : ${songs}">
            <a th:href="@{|/songs/${song.id}|}">
                <p th:text="|ID: ${song.id}|"></p>
            </a>
            <h3 th:text="|Name: ${song.name}|"></h3>
        
        </li>
    </ul>
</div>


<th:block th:replace="/fragments/resources :: jsResources"></th:block>
</body>
</html>